<div class="container" id="game-container">
  <div class="vertical-center-container">
    <div class="start-game-container">
      <div class="start-game">
        Click to Start
      </div>
    </div>
    <div class="countdown-container">
      <div class="countdown countdown-1">1</div>
      <div class="countdown countdown-2">2</div>
      <div class="countdown countdown-3">3</div>
    </div>
    <div class="game-container">
    </div>
  </div>
</div>
<div class="timer-container">
  <div class="timer">0</div>
</div>
<div class="cover">
</div>
