<!--
<div class="highscore-container">
  <h3>highscores</h3>
  <table>
    <tr>
      <td class="score">80</td>
      <td>Stephanie Y</td>
    </tr>
    <tr>
      <td class="score">70</td>
      <td>Bob M</td>
    </tr>
    <tr>
      <td class="score">50</td>
      <td>Weeble W</td>
    </tr>
  </table>
</div>
-->
<div class="container" id="game-container">
  <div class="vertical-center-container">
    <div class="start-game-container">
      <div class="start-game">
        Click to Start
      </div>
    <!--
      <h2>enter your name</h2>
      <input type="text" maxlength="40" />
    -->
    </div>
    <div class="countdown-container">
      <div class="countdown countdown-1">1</div>
      <div class="countdown countdown-2">2</div>
      <div class="countdown countdown-3">3</div>
    </div>
    <div class="game-container">
    </div>
  </div>
</div>
<div class="timer-container">
  <div class="timer">0</div>
</div>
<!--
hi {{user.name}}
<div class="test-score">asdf</div>
-->
<div class="cover">
</div>
