<div class="login-container">
  <div class="title-container">
    <div class="letter-tile">s</div>
    <div class="letter-tile">p</div>
    <div class="letter-tile">e</div>
    <div class="letter-tile">e</div>
    <div class="letter-tile">d</div>
    <div class="letter-tile">y</div>
  </div>
  <div class="game-desc">
    <h2>get a word &middot; add a letter &middot; make a new word</h2>
    <h3>how many words you can anagram in a minute?</h3>
  </div>
  <a class="login-button" href="/auth/facebook">Log In with Facebook</a>
</div>